// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
body{background:#2a2828;}

.home-heading-div {
    background-color: aqua;
}
